name: test

on: [push]

jobs:
  client:
    name: Client tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: install node v12
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: npm install
        working-directory: ./client
        run: npm install

      - name: npm test
        working-directory: ./client
        run: npm test

      - name: playwright tests
        working-directory: ./client
        run: npm run test-playwright

      - name: cypress tests
        working-directory: ./client
        run: npm run cypress-run

  e2e:
    name: e2e tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: install node v12
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: npm install
        working-directory: ./client
        run: npm install

      - name: playwright tests
        working-directory: ./client
        run: npm run test-playwright

      - name: cypress tests
        working-directory: ./client
        run: npm run cypress-run